{% extends "base.html" %}
{% block title %}notification{% endblock %}

{% block content %}


<style>
    body{
    background: #edf1f5;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.mailbox-widget .custom-tab .nav-item .nav-link {
    border: 0;
    color: #fff;
    border-bottom: 3px solid transparent;
}
.mailbox-widget .custom-tab .nav-item .nav-link.active {
    background: 0 0;
    color: #fff;
    border-bottom: 3px solid #2cd07e;
}
.no-wrap td, .no-wrap th {
    white-space: nowrap;
}
.table td, .table th {
    padding: .9375rem .4rem;
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);
}
.font-light {
    font-weight: 300;
}
</style>

<form action="#" method="post">
<div class="container" dir="rtl" align="right" style="margin-left:400px;float:right;overflow:scroll; height:800px;">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="card" align="right">
                <div class="card-body bg-primary text-white mailbox-widget pb-0" style="background-color:#4CAF50; float:right;" dir="rtl" align="right" >
                    <h2 class="text-white pb-3" align="center">התראות</h2>
                    <ul dir="rtl" class="nav nav-tabs custom-tab border-bottom-0 mt-4" style="float:right;" id="myTab" role="tablist" >
                        <li class="nav-item">
                            <a dir="rtl" class="nav-link active" id="inbox-tab" data-toggle="tab" aria-controls="inbox" href="#inbox" role="tab" aria-selected="true">
                                <span class="d-none d-md-block" dir="rtl" style="margin-left: 50px;">ההתראות שלי</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- here start table of notifications-->
                <div class="tab-content" id="myTabContent" align="right">
                    <div class="tab-pane fade active show" id="inbox" aria-labelledby="inbox-tab" role="tabpanel" align="right">
                        <div align="right">
                            <!-- notification list-->
                            <div class="table-responsive">
                                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                                    <tbody>
                                    {% if data %}
                                        {% for item in data %}
                                        <!-- row -->
                                        <tr>
                                            <!-- label -->
                                            <!-- star -->
                                            <td>
                                                <a href="#">
                                                    <button align="right" name="delete_notification" value="{{item[5]}}" class="btn btn-circle btn-danger text-white">
                                                    <i class="fa fa-trash" align="right"></i>
                                            </button>
                                                </a>
                                            </td>
                                            <td><i class="fa fa-star text-warning"></i></td>
                                            <td>
                                                <span class="mb-0 text-muted"></span>
                                            </td>
                                            <!-- Message -->
                                            <td>
                                                {% if item[2] == False %}
                                                    {% if item[4] == 'משימה' %}
                                                    <a class="link" href="{{ get_url('main.markAsRead',nid=item[5]) }}" >
                                                        <span class="badge badge-pill text-white font-medium badge-danger mr-2">{{item[4]}}</span>
                                                        <b>
                                                        <span class="text-dark" name="notification" value="{{item[5]}}">{{item[3]}}</span>
                                                        </b>
                                                    </a>
                                                    {% else %}
                                                    <a class="link" href="{{ get_url('main.home') }}" >
                                                        <span class="badge badge-pill text-white font-medium badge-danger mr-2">{{item[4]}}</span>
                                                        <span class="text-dark" name="notification" value="{{item[5]}}">{{item[3]}}</span>
                                                    </a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if item[4] == 'משימה' %}
                                                    <a class="link" href="{{ get_url('main.markAsRead',nid=item[5]) }}" >
                                                        <span class="badge badge-pill text-white font-medium badge-danger mr-2">{{item[4]}}</span>
                                                        <span class="text-dark" name="notification" value="{{item[5]}}">{{item[3]}}</span>
                                                    </a>
                                                    {% else %}
                                                    <a class="link" href="{{ get_url('main.home') }}" >
                                                        <span class="badge badge-pill text-white font-medium badge-danger mr-2">{{item[4]}}</span>
                                                        <span class="text-dark" name="notification" value="{{item[5]}}">{{item[3]}}</span>
                                                    </a>
                                                    {% endif %}
                                                {% endif %}

                                            </td>
                                            <!-- Attachment -->
                                            <td><i class="fa fa-paperclip text-muted"></i></td>
                                            <!-- Time -->
                                            <td class="text-muted">{{item[1]}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p align="center" style="font-size:16">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}