{% extends "base.html" %}
{% block title %}tender{% endblock %}

{% block content %}



<style>

input[type=date] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

input[type=email] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}
input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}
input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
   font-size: 16px;

}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  background-color: #f2f2f2;
  padding: 0px;

}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 50px
}

.button1 {background-color: #4CAF50;} /* Green */


select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

</style>
  <form action="#" method="post">
      <div align="center" style="padding:10px">
        <h1 style="background-color: #f2f2f2;">🧙 ברוכים הבאים לאשף המכרזים  </h1>
          <h3 style="background-color: #f2f2f2;">הזינו את פרטי המכרז</h3>

<select dir="rtl" name="tenders_committee_Type" id="tenders_committee_Type">
    <option value="" disabled selected>ועדת מכרזים</option>
    {% for type in tenders_committee_Type_lst %}
      <option value="{{type}}">{{ type }}</option>
    {% endfor %}
</select>
</div>

<div align="center">
    <input type="text" id="protocol" name="protocol" placeholder="מספר פרוטוקול" dir="rtl">
</div>

<div align="center">
    <select dir="rtl" name="department" id="department">
    <option value="" disabled selected>יחידה מקצועית</option>
    {% for dep in department_lst %}
      <option value="{{dep}}">{{ dep }}</option>
    {% endfor %}
  </select>
</div>

<div align="center">
   <select dir="rtl" name="procedure_type" id="procedure_type">
    <option value="" disabled selected>סוג ההליך</option>
    {% for proc in procedure_type_lst %}
      <option value="{{proc}}">{{ proc }}</option>
    {% endfor %}
  </select>
</div>

<div align="center">
      <input type="text" id="subject" name="subject" placeholder="נושא המכרז" dir="rtl">
</div>
<div align="center">
    <select dir="rtl" name="contact_user_from_department" id="contact_user_from_department">
    <option value="" disabled selected>גורם מטעם היחידה</option>
    {% for user in users %}
      <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
    {% endfor %}
  </select>
</div>
      <div align="center">
          <input placeholder="תאריך סיום מכרז (אופציונלי)" type="text" onfocus="(this.type = 'date')"  id="finish_date" name="finish_date" dir="rtl">
      </div>
<div align="center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p align="center" style="font-size:16">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div align="center" dir="rtl">
      <input type="submit" value="צור מכרז" align="center">
</div>
  </form>

<div style="margin-bottom:10px;">
<form action="/action_page.php">
      <button type="submit" formaction="{{ get_url('main.home') }}" dir="rtl" class="button button1">חזרה לעמוד הבית</button>
</form>
</div>
{% endblock %}