{% extends "base.html" %}
{% block title %}tender{% endblock %}

{% block content %}

























<!-- Button trigger modal -->
<!--<form action="#" method="post">-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: inline-block;float: left;background-color: #B22222;color:white;">-->
<!--  מחיקת מכרז-->
<!--</button>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel" dir="rtl" align="center">מחיקת מכרז</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: left;">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body" dir="rtl" align="right">-->
<!--        אנא אשרו כי ברצונכם למחוק את המכרז-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" name="cancel" value="cancel" class="btn btn-secondary" data-dismiss="modal" dir="rtl">ביטול</button>-->
<!--        <button type="submit" name="delete" value="delete" class="btn btn-primary"  dir="rtl" style="background-color: red; color:white;">מחיקה</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</form>-->





<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->

<!--<body>-->
<!--        <h1 id="header">Hellp</h1>-->
<!--        <select dir="rtl" name="status" id="status" onchange="myFunction()">-->
<!--          <option value="" disabled selected>שנה סטטוס</option>-->
<!--          <option value="yellow" id="yellow">&#128993;</option>-->
<!--          <option value="red">&#128308;</option>-->
<!--          <option value="green">&#128994;</option>-->
<!--        </select>-->
<!--        <script type="text/javascript">-->
<!--        	function myFunction(){-->
<!--        		var x = document.getElementById("status").value;-->
<!--        		console.log("you are in the functio")-->
<!--        		document.getElementById("header").innerHTML = "You selected: " + x;-->
<!--        	}-->
<!--        	-->
<!--        </script>-->

<!--<form action="#" method="POST">-->
<!--    <select name="myselect" id="myselect" onchange="this.form.submit()">-->
<!--        <option value="1">One</option>-->
<!--        <option value="2">Two</option>-->
<!--        <option value="{{['good',2]}}">Three</option>-->
<!--        <option value="4">Four</option>-->
<!--    </select>-->
<!--</form>-->

<!--</body>-->


{% endblock %}